.btn{
    display: inline-block;
  margin-bottom: 0; 
//   font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; 
  border: 1px solid transparent;
  padding: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;



  span.icon {
    background: url('/img/arrow-down.svg') no-repeat;
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 8px;
}


}


.btn-primary{
    background-color: $secondary;
    border-radius: 25px;
    transition: background-color 0.5s ease;

    &--small{
    @extend .btn;
      @media screen and (max-width: 600px) {
        display: block;
      }
    }

    &:hover{
     
        background-color: darken($secondary, 10%);
    
    
    }
}







