.activity {
  background-image: url("/img/merop.png");
  height: 199px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  @media screen and (max-width: 600px) {
    height: 334px;
  }

  h1 {
    @media screen and (max-width: 600px) {
      text-align: center;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 600px) {
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }

  h1 {
    color: #fff;
    font-size: 32px;

    @media screen and (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
}
