.owl-carousel_2.off {
  display: block;
}

.hamburger {
  display: none;

  @media screen and (max-width: 600px) {
    display: block;
  }
}

.header {
  background-image: url("/img/bgheader.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  background-attachment: fixed;
  position: relative;

  &::before {
    background: transparentize(#000000, 0.5);
    position: absolute;

    content: "";
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 600px) {
    height: 100vh;
  }
}

.header_small {
  background-color: #fff;
  width: 100%;
  height: 80px;
  border-radius: 8px;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px;
  color: #000;
  z-index: 666;

  &--fixed {
    position: fixed;
    margin-top: 0px;
    max-width: 1140px;
    margin: 0 auto;
  }

  ul {
    display: flex;
  }

  @media screen and (max-width: 600px) {
    margin-top: 0;
    border-radius: 0;
  }
}

.logo_title {
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.header_body {
  width: 100%;
  height: 100%;
  min-height: 61vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    max-width: 600px;
    font-size: 32px;
    margin-bottom: 20px;
  }
  h5 {
    font-size: 18px;
  }

  @media screen and (max-width: 600px) {
    text-align: center;
    min-height: 71vh;
    padding: 20px;

    h3 {
      font-size: 28px;
      margin-bottom: 36px;
      margin-top: 20px;
    }
  }
}

.header-wrapper {
  display: flex;
  position: relative;
  align-items: center;
  color: #fff;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  margin: 0 auto;
}

.header_footer {
  width: 100%;
  a {
    color: #fff;
    padding-right: 40px;
  }
  @media screen and (max-width: 600px) {
    text-align: center;
    display: flex;
    flex-direction: column;
    a {
      padding-right: 0;
      padding-bottom: 12px;
    }
  }
}

.header-right {
  justify-content: flex-end;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 199999;
  @media screen and (max-width: 600px) {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    height: 100vh;
    top: 80px;
    display: none;
    //      transform: translateY(55%);
    //   transition: transform 1s linear;
    flex-direction: column;
    &--active {
      top: 80px;
    }
  }
}

.header-img {
  position: absolute;
  right: 0;
  top: -80px;
  right: -11%;
  filter: blur(2px);
  z-index: 2;

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.right-block {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-right: 40px;

  &--lang {
    @media screen and (max-width: 600px) {
      flex-direction: column;
      margin-right: 0;
    }
  }

  .no-mobile {
    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  &--phone {
    z-index: 99999;
    position: relative;

    @media screen and (max-width: 600px) {
      background-color: $secondary;
      order-radius: 25px;
      transition: background-color 0.5s ease;
      order: 2;
      padding: 1px;
      min-width: 272px;
      text-align: center;
      display: flex;
      justify-content: center;
      margin-bottom: 86px;
      border-radius: 30px;
      margin-right: 0;
    }
  }
}

.display-mobile {
  display: none;
  @media screen and (max-width: 600px) {
    display: block;
    width: 100px;
  }
}

.header-block {
  width: 25%;

  @media screen and (max-width: 600px) {
    width: 100%;
    text-align: center;
  }

  p {
    margin-bottom: 6px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    @media screen and (max-width: 600px) {
      margin-bottom: 16px;
      font-size: 14px;
    }
  }

  &--calendar {
    @media screen and (max-width: 600px) {
      order: 1;
    }
  }

  &--follow {
    @media screen and (max-width: 600px) {
      order: 2;
    }
  }
}

.span-mobile {
  display: none;

  span {
    @media screen and (max-width: 600px) {
      padding: 12px;
      cursor: pointer;
    }
  }

  .is-active {
    display: inline-block;
    border-bottom: 1px solid black;
    color: $blue;
  }

  @media screen and (max-width: 600px) {
    display: block;
    text-align: center;
  }
}

.small-icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-left: 10px;

  &--chek {
    background: url("/img/icons/chek.svg") no-repeat;
    background-size: 15px;
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
}

.big-icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 10px;

  &--lang {
    background: url("/img/icons/lang.svg") no-repeat;
    background-size: 25px;

    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  &--phone {
    background: url("/img/icons/phone.svg") no-repeat;
    background-size: 25px;
  }
}

.icons {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 4px;
  @media screen and (max-width: 600px) {
    margin-right: 14px;
  }

  &--google {
    background: url("/img/icons/google.svg") no-repeat;
    background-size: 30px;
  }

  &--yahoo {
    background: url("/img/icons/ya.svg") no-repeat;
    background-size: 30px;
  }

  &--micro {
    background: url("/img/icons/micro.svg") no-repeat;
    background-size: 30px;
  }

  &--apple {
    background: url("/img/icons/apple.svg") no-repeat;
    background-size: 30px;
  }

  &--facebook {
    background: url("/img/icons/facebook.svg") no-repeat;
    background-size: 30px;
  }

  &--twitter {
    background: url("/img/icons/twitter.svg") no-repeat;
    background-size: 30px;
  }

  &--in {
    background: url("/img/icons/in.svg") no-repeat;
    background-size: 30px;
  }

  &--tg {
    background: url("/img/icons/tg.svg") no-repeat;
    background-size: 30px;
  }
}
