.section-info {
  background-color: #3378cb;

  height: 281px;
  margin-top: 50px;
  margin-bottom: 50px;

  @media screen and (max-width: 600px) {
    height: 100%;
  }

  h2 {
    margin-bottom: 16px;
    font-size: 28px;
  }
  padding: 20px;

  &__item {
    text-align: center;
    display: flex;
    background-color: #2b6dbb;
    padding: 20px;
    margin: 16px 0px;
    line-height: 2.6;
    border-radius: 8px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #2461b1;
      cursor: pointer;
    }
  }

  &__desc {
    font-size: 20px;
    color: #fff;
    margin-left: 18px;

    @media screen and (max-width: 600px) {
      font-size: 16px;
    }
  }
}
