.owl-stage {
  &:first-child {
    left: -100px;
  }
}

.owl-carousel .nav-btn {
  height: 60px;
  position: absolute;
  width: 40px;
  cursor: pointer;
  top: 40%;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.owl-carousel .prev-slide {
  background: url("/img/back.png") no-repeat;
  left: -45px;
}
.owl-carousel .next-slide {
  background: url("/img/next.png") no-repeat;
  right: -50px;
}
.owl-carousel .prev-slide:hover {
  background: url("/img/back-color.svg") no-repeat;
}
.owl-carousel .next-slide:hover {
  background: url("/img/next-color.svg") no-repeat;
}
