<section class="contact">
    <div class="container">
        <h2>Контакты</h2>
        <div class="contact-wrapper">
    
      
            
                <div class="contact-l">
                    <img src="/img/logo-bottom.svg" alt="">
                    <p>АО «Национальная компания «KAZAKH INVEST»</p>
                </div>
           
          
                <div class="contact-details-wrapper">
                    <div class="contact-details">
                        <p>
                            <h5>Телефон:</h3>
                            +7 7172 620 620</p>
                        <p>
                            <h5>E-mail</h3>
                            kgir@invest.gov.kz</p>

                    </div>
                    <div class="contact-details">
                        <p>  <h5>Адрес</h3>
                            010000, Нур-Султан, ул. Кунаева 2</p>

                        <p>  <h5>Веб-сайт</h3>
                            www.invest.gov.kz</p>

                    </div>
               

           
        </div>
    </div>
</div>
</section>

