<footer>
<div class="container">
    <div class="row">
        <div class="footer-wrapper">
           <span> Разработано в </span><img src="/img/logo_copyright.png" alt="">
    </div>
    </div>
</div>
  
</footer>

{% include './modals.html' %}


<script defer src="/js/libs.min.js"></script>
<script defer src="/js/app.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>


<script>





$(document).ready(function(){
   $('#slider').owlCarousel({
    loop:true,
    margin:10,
    nav: true,
    navText:["<div class='nav-btn prev-slide'></div>","<div class='nav-btn next-slide'></div>"],
    
    responsive:{
        0:{
            items:1,
            nav:false
        },
        600:{
            items:1,
            nav:false
        },
        1000:{
            items:1
        }
    }

    
})
});
</script>



<script>



$(document).ready(function(){
    $(window).resize(function() {
        if ( $(window).width() > 575 ) {
            startCarousel();
            $('#owl-carousel_2 .owl-item').addClass('col-lg-2');
        } else {
            stopCarousel();
            $('#owl-carousel_2 .owl-item').removeClass('col-lg-2');
        }
    });
})

$(document).ready(function(){
    $('#owl-carousel_2').owlCarousel({
        loop:true,
        margin:10,
        nav: true,
        navText:["<div class='nav-btn prev-slide'></div>","<div class='nav-btn next-slide'></div>"],
        responsive:{
            0:{
                items:5,
                nav:false
            },
            600:{
                items:5,
                nav:false
            },
            1000:{
                items:5
            }
        }
    })
});

//start
function startCarousel() {
    $('#owl-carousel_2').owlCarousel({
        loop:true,
        margin:10,
        nav: true,
        navText:["<div class='nav-btn prev-slide'></div>","<div class='nav-btn next-slide'></div>"],
        responsive:{
            0:{
                items:5
            },
            600:{
                items:5
            },
            1000:{
                items:5
            }
        }
    })
}

//stop
function stopCarousel() {
    var owl = $('.owl-carousel');
    owl.trigger('destroy.owl.carousel');
    owl.addClass('off');
}


// var res = $(".header-right");
// $(".hamburger").on("click", funk);

// $(document).click(function(e) {
//   if ($(e.target).closest(res).length || $(e.target).closest('.hamburger').length) return;
//   res.fadeOut(100);
//   e.stopPropagation();
// });

// function funk(){
//   if(res.css("display") == "none"){
//     res.fadeIn(100);
//   }
//   else{
//     res.fadeOut(100);
//   }
// }



$(".hamburger").on('click', function(){
    $('.header-right').slideToggle('medium', function() {
    if ($(this).is(':visible')) {
        $(this).css('display','flex');
        $("body").css("overflow-y","hidden");
    } else {
        $("body").css("overflow-y","scroll");
    }
        
});
})


$('.hamburger').click(function(e){
    e.preventDefault();
    $(this).toggleClass('is-active');
});

</script>
