<section class="header">

    <div class="header-wrapper">
        <div class="container">
            <div class="row">
                <div class="header_small">
                   
                    <div class="logo_title"><img src="/img/logos.svg" alt=""></div>
                    <button class="hamburger hamburger--elastic" type="button"
                    aria-label="Menu" aria-controls="navigation">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>

                    <nav id="navigation" class="header-right">

                        <div class="header-block header-block--calendar">

                            <p>Добавить в календарь</p>
                            <span class="icons icons--google"></span>
                            <span class="icons icons--yahoo"></span>
                            <span class="icons icons--micro"></span>
                            <span class="icons icons--apple"></span>

                        </div>


                        <div class="header-block header-block--follow">

                            <p>Следите за нами</p>
                            <span class="icons icons--facebook"></span>
                            <span class="icons icons--twitter"></span>
                            <span class="icons icons--in"></span>
                            <span class="icons icons--tg"></span>

                        </div>




                        <div class="right-block right-block--lang"><span class="big-icon big-icon--lang"></span><a class="no-mobile" href=""> rus</a><span
                                class="small-icon small-icon--chek"></span>
                                <div class="span-mobile">
                                    <p>Выберите язык:</p>
                                    <span class="is-active">Ru</span>
                                    <span>En</span>
                                    <span>Kz</span>
                                    </div></div>
                        <div class="right-block right-block--phone"><span class="big-icon big-icon--phone"></span><a class="btn-primary--small" href="">+7
                            7172 620 620</a></div>
                        </nav>

                </div>
                <div class="header_body">
                    <p>
                    <h5>Город Нур-Султан | 17 Мая 2019</h5>
                    <h3>III ежегодный </br>Казахстанский круглый стол
                        по глобальным инвестициям</h3>
                    </p>
                    <p>
                        <button type="button" class="btn btn-primary">Зарегистрироваться</button>
                    </p>
                </div>


                <div class="header-img">

                    <img src="/img/or.png" alt="">

                </div> 
                <div class="header_footer">
                    <a href="">Стать спонсором</a>
                    <a href="">Аккредитация для СМИ</a>

                </div>
            </div>
        </div>
    </div>
</section>