<section class="organizator">
    <div class="container">
        <h2>Организаторы</h2>
        <div class="row">
            <div class="col-lg-2 col-6 mb-5">

                <div class="organizator__item">
                    <img src="/img/org/gos.png" alt="">
                    <p class="organizator__title">Правительство РК
                    </p>
                   


                </div>

                

            </div>

            <div class="col-lg-2 col-6 mb-5">

                <div class="organizator__item">
                    <img src="/img/org/ft.png" alt="">
                    <p class="organizator__title">Financial Times
                    </p>
                    


                </div>

                

            </div>


            <div class="col-lg-2 col-6 mb-5">

                <div class="organizator__item">
                    <img src="/img/org/min.png" alt="">
                    <p class="organizator__title">МИД РК
                    </p>
                 


                </div>

                

            </div>


            <div class="col-lg-2 col-6 mb-5">

                <div class="organizator__item">
                    <img src="/img/org/fdi.png" alt="">
                    <p class="organizator__title">Fdi Intelligence
                    </p>



                </div>

                

            </div>


            <div class="col-lg-2 col-6 mb-5">

                <div class="organizator__item">
                    <img src="/img/org/kin.png" alt="">
                    <p class="organizator__title">Kazakh Invest
                    </p>
                


                </div>

                

            </div>


            <div class="col-lg-2 col-6 mb-5">

                <div class="organizator__item">
                    <img src="/img/org/banker.png" alt="">
                    <p class="organizator__title">The Banker
                    </p>
                  


                </div>

                

            </div>


            
            
        </div>
    </div>
</section>