<section class="organizator">
    <div class="container">
        <h2>Медиа партнеры</h2>
        <div class="row">
            <div class="col-lg-3 col-6">

                <div class="organizator__item">
                    <img src="/img/part/habar.png" alt="">
                    <p class="organizator__title">Правительство РК
                    </p>
                   


                </div>

                

            </div>

            <div class="col-lg-3 col-6">

                <div class="organizator__item">
                    <img src="/img/part/24.png" alt="">
                    <p class="organizator__title">Телеканал «Хабар 24»
                    </p>
                    


                </div>

                

            </div>


            <div class="col-lg-3 col-6">

                <div class="organizator__item">
                    <img src="/img/part/mir.png" alt="">
                    <p class="organizator__title">Телеканал «Мир»
                    </p>
                 


                </div>

                

            </div>


            <div class="col-lg-3 col-6">

                <div class="organizator__item">
                    <img src="/img/part/kur.png" alt="">
                    <p class="organizator__title">Деловые новости казахстана
                        «Курсив»
                    </p>



                </div>

                

            </div>







            
            
        </div>
    </div>
</section>