<section class="section-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-info__item">
                    <div class="section-info__icon"><img src="/img/message1.svg" alt=""></div>
                    <div class="section-info__desc">Общая информация
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="section-info__item">
                    <div class="section-info__icon"><img src="/img/paper_1.svg" alt=""></div>
                    <div class="section-info__desc">Программа

                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="section-info__item">
                    <div class="section-info__icon"><img src="/img/brainstorming_1.svg" alt=""></div>
                    <div class="section-info__desc">Общая информация
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="section-info__item">
                    <div class="section-info__icon"><img src="/img/meeting_1.svg" alt=""></div>
                    <div class="section-info__desc">Общая информация
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="section-info__item">
                    <div class="section-info__icon"><img src="/img/location_1.svg" alt=""></div>
                    <div class="section-info__desc">Общая информация
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="section-info__item">
                    <div class="section-info__icon"><img src="/img/email_1.svg" alt=""></div>
                    <div class="section-info__desc">Общая информация
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>