<section class="section-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <a href="test.html" class="section-info__item simple-ajax-popup-align-top">
                    <div class="section-info__icon"><img src="/img/message1.svg" alt=""></div>
                    <div class="section-info__desc">Общая информация
                    </div>
                </a>
            </div>


            <div class="col-lg-4">
                <a href="merop.html" class="section-info__item simple-ajax-popup-align-top">
                    <div class="section-info__icon"><img src="/img/message1.svg" alt=""></div>
                    <div class="section-info__desc">Программа
                    </div>
                </a>
            </div>
        


            <div class="col-lg-4">
                <a href="test.html" class="section-info__item simple-ajax-popup-align-top">
                    <div class="section-info__icon"><img src="/img/message1.svg" alt=""></div>
                    <div class="section-info__desc">Общая информация
                    </div>
                </a>
            </div>


            <div class="col-lg-4">
                <a href="test.html" class="section-info__item simple-ajax-popup-align-top">
                    <div class="section-info__icon"><img src="/img/message1.svg" alt=""></div>
                    <div class="section-info__desc">Общая информация
                    </div>
                </a>
            </div>


            <div class="col-lg-4">
                <a href="test.html" class="section-info__item simple-ajax-popup-align-top">
                    <div class="section-info__icon"><img src="/img/message1.svg" alt=""></div>
                    <div class="section-info__desc">Общая информация
                    </div>
                </a>
            </div>


            <div class="col-lg-4">
                <a href="test.html" class="section-info__item simple-ajax-popup-align-top">
                    <div class="section-info__icon"><img src="/img/message1.svg" alt=""></div>
                    <div class="section-info__desc">Общая информация
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>