




<section class="spiker">
    <div class="container">
        <h2>Главные спикеры</h2>
        <div class="row">
            <div class="col-lg-2 col-6">

                <div class="spiker__item">
                    <img src="/img/img1.png" alt="">
                    <p class="spiker__title">Аскар Мамин
                    </p>
                    <p class="spiker__desc">Премьер-Министр Республики Казахстан</p>


                </div>

                

            </div>

            <div class="col-lg-2 col-6">

                <div class="spiker__item">
                    <img src="/img/jk.png" alt="">
                    <p class="spiker__title">Аскар Мамин
                    </p>
                    <p class="spiker__desc">Премьер-Министр Республики Казахстан</p>


                </div>

                

            </div>


            <div class="col-lg-2">

                <div class="spiker__item">
                    <img src="/img/ba.png" alt="">
                    <p class="spiker__title">Аскар Мамин
                    </p>
                    <p class="spiker__desc">Премьер-Министр Республики Казахстан</p>


                </div>

                

            </div>


            <div class="col-lg-2">

                <div class="spiker__item">
                    <img src="/img/kb.png" alt="">
                    <p class="spiker__title">Аскар Мамин
                    </p>
                    <p class="spiker__desc">Премьер-Министр Республики Казахстан</p>


                </div>

                

            </div>


            <div class="col-lg-2">

                <div class="spiker__item">
                    <img src="/img/ap.png" alt="">
                    <p class="spiker__title">Аскар Мамин
                    </p>
                    <p class="spiker__desc">Премьер-Министр Республики Казахстан</p>


                </div>

                

            </div>


            <div class="col-lg-2">

                <div class="spiker__item">
                    <img src="/img/ms.png" alt="">
                    <p class="spiker__title">Аскар Мамин
                    </p>
                    <div class="spiker__desc">Премьер-Министр Республики Казахстан</div>


                </div>

                

            </div>


            
            
        </div>
    </div>
</section>