

<section class="spiker">
    <div class="container">
        <h2>Главные спикеры</h2>
        <div class="row">
    <div id="owl-carousel_2" class="owl-carousel spikers owl-theme">
        <div class="item">

            <div class="spiker__item">
                <img src="/img/img1.png" alt="">
                <p class="spiker__title">Аскар Мамин
                </p>
                <p class="spiker__desc">Премьер-Министр Республики Казахстан</p>


            </div>

            

        </div>

        <div class="item">

            <div class="spiker__item">
                <img src="/img/jk.png" alt="">
                <p class="spiker__title">Аскар Мамин
                </p>
                <p class="spiker__desc">Премьер-Министр Республики Казахстан</p>


            </div>

            

        </div>
        <div class="item">

            <div class="spiker__item">
                <img src="/img/ba.png" alt="">
                <p class="spiker__title">Аскар Мамин
                </p>
                <p class="spiker__desc">Премьер-Министр Республики Казахстан</p>


            </div>

            

        </div>
        <div class="item">

            <div class="spiker__item">
                <img src="/img/kb.png" alt="">
                <p class="spiker__title">Аскар Мамин
                </p>
                <p class="spiker__desc">Премьер-Министр Республики Казахстан</p>


            </div>

            

        </div>
        <div class="item">

            <div class="spiker__item">
                <img src="/img/ap.png" alt="">
                <p class="spiker__title">Аскар Мамин
                </p>
                <p class="spiker__desc">Премьер-Министр Республики Казахстан</p>


            </div>

            

        </div>
        <div class="item">

            <div class="spiker__item">
                <img src="/img/ms.png" alt="">
                <p class="spiker__title">Аскар Мамин
                </p>
                <p class="spiker__desc">Премьер-Министр Республики Казахстан</p>


            </div>

            

        </div>
        
    </div>
    </div>
    </div>
    </section>

