<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Главная страница</title>
    {% include 'templates/head.html' %}
  </head>
  <body>
    {% include 'templates/header.html' %}
    {% include 'templates/spiker.html' %}
    {% include 'templates/organizator.html' %}
    {% include 'templates/section_info.html' %}
    {% include 'templates/partner.html' %}
    {% include 'templates/activity.html' %}
    {% include 'templates/slider.html' %}
    {% include 'templates/contact.html' %}
    {% include 'templates/footer.html' %}
  </body>
</html>
